body {
 background: #ffffff;
 font-family: 'Open Sans';
 margin: 0;
 padding: 0;
}

h1 {
  display: flex;
  text-align: center;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* responsive */
  flex-flow: wrap;
}

.item {
  /* padding: 50px; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 190px;
  min-width: 190px;
  background-color: #5376fc;
  margin: 15px;
  border-radius: 50%;
  border: 6px solid black;
  font-size: 75px;
  box-shadow: 0px 8px 14px -1px rgba(135,135,135,1);
}

.item:hover {
  background-color: #f2f533;
  font-size: 85px;
}

/* Modal */


/* Modal styles are given from game.js, template */

/* Me */

.me {
  text-align: center;
  background-color: #5376fc;
}

.me p {
  margin: 0;
  padding: 0;
  color: black;
  font-weight: bold;
}