body {
 background: #ffffff;
 font-family: 'Open Sans';
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  /* z-index: -1; */
}

.item {
  /* padding: 50px; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 190px;
  min-width: 190px;
  background-color: #5376fc;
  margin: 15px;
  border-radius: 50%;
  border: 6px solid black;
  font-size: 75px;
  box-shadow: 0px 8px 14px -1px rgba(135,135,135,1);
}

.item:hover {
  background-color: #f2f533;
  font-size: 85px;
}

/* Modal */

.modal {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(214, 224, 68);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 80px;
  border-radius: 10px;

}

.modal__buttons {
  display: flex;
  /* cursor: pointer; */
}
.modal__buttons p {
  margin: 15px;
}